<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
      </head>
      <body>
        <h1>Hi <%= @user.name %>,</h1>
        <p>
          This is just a friendly email to let you know the following bookmark was saved:<br/>
        </p>
        <p>
          <%= @bookmark.url %><br/>
        </p>
      <p>
        Cheers! <br/>
        Bookmarks.com
      </p>
    </body>
    </html>



