<h1>All Bookmarks</h1>

<ul class="topics">
    <% @topics.each do |topic| %>
      <li><%= link_to "##{topic.name}", topic %></li>
      <ul class="bookmarks">
        <%= render topic.bookmarks %>
      </ul>    
    <% end %>
</ul>
<br>
