<h1>All Bookmarks</h1>

<ul class="topics">
    <% @topics.each do |topic| %>
      <li>
        <h3><%= link_to "##{topic.name}", topic %></h3>
        <div class="row">
          <ul class="bookmarks">
            <%= render topic.bookmarks %>
          </ul>  
        </div> 
      </li> 
    <% end %>
</ul>
<br>
