<br/>
  <div class="jumbotron">
      <h1>Bookmarks</h1>
      <p>Use Bookmarks to save bookmark URLs via email to a catagorized list, as well as to peruse and like other user's bookmarks.</p>
      <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
      </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Time-Saving</h2>
      <p>No need to log into an application!  Simply send a bookmark to your list by sending an email.</p>
  </div>

  <div class="col-md-4">
      <h2>Keeping You Organized</h2>
      <p>Easily find your bookmarks under the topic categories you create.</p>
  </div>

  <div class="col-md-4">
      <h2>Stay up-to-date with trending bookmarks</h2>
      <p>Like other user's bookmarks to add them to your personal list.</p>
  </div>
</div>
