<br/>
<div class="jumbotron">
  <h1>Bookmarks</h1>
  <p>Use Bookmarks to bookmark URLs via email, peruse other user's bookmarks, and maintain a personal index of categorized bookmarks.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>User friendly.</h2>
    <p>Manage your bookmarks with ease.</p>
  </div>
  <div class="col-md-4">
    <h2>Everybody is using it!</h2>
    <p>Why wouldn't you?</p>
  </div>
  <div class="col-md-4">
    <h2>A chance to win one billion dollars with every new bookmark you create!</h2>
    <p>Hmmm, wouldn't that be lovely?  One can always dream!.....</p>
  </div>
</div>
