@import "bootstrap";

.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

 .remove {
  display: none;
 }

 .like {
  margin: 10px 20px 10px 60px;

 }

ul.topics {
  list-style: none;
  display: block;
  text-decoration: underline;
  li {
    clear: both;   
    margin-bottom: 20px;
  }

 }

 ul.bookmarks li {
    list-style: none;
    clear: none;
    float:left;
    margin: 0 20px 20px 0;
  }

.page-actions {
  float: right;
}

.bookmark_container {
  width: 200px;
  border: 1px solid #cecece;
  overflow: hidden;
  padding: 20px;
}

.thumbnail {
  border: none;
  display: block;
  margin: 0 auto;
}





