<h1>My Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<div class="row">
  <div class="col-md-8">
  <tbody>
    
    <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
      <tr>
       </td>
      </tr>
   
   
  </tbody>
</table>

<br>

<%= link_to 'Create a New Bookmark', new_bookmark_path %>